

.input {
    width: 200px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 10px;
    padding: 4px 10px;
    display: flex;
    margin: 20px auto;
}

/* .input:hover,
.input:focus {
    border: 1px solid red;
} */

.sectionHeader {
    text-align: center;
    margin-bottom: 20px;
}