.sectionNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.btnNavigation {
  border: 1px solid rgb(233, 231, 231);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(233, 231, 231);
  color: black;
}

.btnNavigation:hover,
.btnNavigation:focus {
  background-color: rgb(167, 165, 165);
  color: #fff;
}